USE [master]
GO
/****** Object:  Database [AP06TVNGAN]    Script Date: 17/03/2023 1:05:25 SA ******/
CREATE DATABASE [AP06TVNGAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AP06TVNGAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AP06TVNGAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AP06TVNGAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AP06TVNGAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AP06TVNGAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AP06TVNGAN]
GO
/****** Object:  Table [dbo].[AUDIOFILES]    Script Date: 17/03/2023 1:05:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIOFILES](
	[ms] [nchar](20) NOT NULL,
	[filename] [nchar](100) NULL,
	[filepath] [nchar](150) NULL,
	[size] [float] NULL,
	[ext] [nchar](10) NULL,
	[length] [int] NULL,
	[description] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ms] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AUDIOFILES] ([ms], [filename], [filepath], [size], [ext], [length], [description]) VALUES (N'01                  ', N'044197_2013-dodge-charger-car-horn-wav-72822.mp3                                                    ', N'c:\\Program Files\\TVNGAN\\AUDIO_DATA\\044197_2013-dodge-charger-car-horn-wav-72822.mp3                                                               ', 352, N'.mp3      ', 18, N'no desc')
INSERT [dbo].[AUDIOFILES] ([ms], [filename], [filepath], [size], [ext], [length], [description]) VALUES (N'02                  ', N'075714_la-cucaracha-car-hornwav-80095.mp3                                                           ', N'c:\\Program Files\\TVNGAN\\AUDIO_DATA\\075714_la-cucaracha-car-hornwav-80095.mp3                                                                      ', 94, N'.mp3      ', 3, N'no desc')
INSERT [dbo].[AUDIOFILES] ([ms], [filename], [filepath], [size], [ext], [length], [description]) VALUES (N'03                  ', N'086287_car-horn_eu1wav-37254.mp3                                                                    ', N'c:\\Program Files\\TVNGAN\\AUDIO_DATA\\086287_car-horn_eu1wav-37254.mp3                                                                               ', 20, N'.mp3      ', 1, N'no desc')
GO
USE [master]
GO
